errors.required=O campo {0} é obrigatório.
errors.longRange=O valor do campo {0} precisa estar entre {1} e {2}.
errors.minlength=O campo {0} precisa ter no mínimo {1} caracter(es).
errors.maxlength=O campo {0} só pode ter no máximo {1} caracter(es).
errors.um.campo=É necessário preencher pelo menos um dos campos.
errors.date=O campo {0} é uma data inválida.
