## Build properties sample

# The following property must be defined in build.properties with an appropriate
# value for the local environment
jboss.home=/opt/jboss-3.2.5

# These properties already have a default value defined in build.xml and only
# need to be defined in build.properties if their values are different in your 
# local setup
genesis.home=../../genesis
xdoclet.dist=../../xdoclet/dist
jboss.provider.url=jnp://localhost
jboss.datasource.jndi.name=java:/DefaultDS
jboss.datasource.config.xml=${jboss.home}/server/default/deploy/hsqldb-ds.xml
webstart.server=localhost
webstart.port=8080
build.dir=dist/useradmin.war/application
jdbc.driver=dist/useradmin.war/application/hsqldb.jar
jdbc.driver.class=org.hsqldb.jdbcDriver
jdbc.username=sa
jdbc.password=
hibernate.dialect=net.sf.hibernate.dialect.HSQLDialect
hibernate.version=2.1.6
hibernate.show.sql=true
hibernate.session.factory.jndi.name=jboss:/hibernate/SessionFactory
hibernate.jboss.service.name=HibernateFactory,name=HibernateFactory
hibernate.connection.url=jdbc:hsqldb:genesis/useradmin
