## Build properties sample

# The following property must be defined in build.properties with an appropriate
# value for the local environment
jboss.home=/opt/jboss-3.2.5
genesisBasedApplication.name=empty-project
genesisBasedApplication.mainClass=net.java.dev.genesis.emptyproject.MyGenesisApp
genesisBasedApplication.prettyName=Empty Project

# If you want to run your application in local mode, uncomment the following
# property:
#local.mode=true

# If you do not want to run your application in remote mode, uncomment the 
# following property:
#remote.mode=false

# If you want to turn off validation generation, uncomment the following 
# property:
#validation.generate.files=false

# These properties already have a default value defined in build.xml and only
# need to be defined in build.properties if their values are different in your 
# local setup
#genesis.home=../../genesis
#xdoclet.dist=../../xdoclet/dist
#generate.validation=true
#jboss.provider.url=jnp://localhost
#jboss.datasource.jndi.name=java:/DefaultDS
#jboss.datasource.config.xml=${jboss.home}/server/default/deploy/hsqldb-ds.xml
#webstart.server=localhost
#webstart.port=8080
#hibernate.dialect=net.sf.hibernate.dialect.HSQLDialect
#hibernate.version=2.1.6
#hibernate.show.sql=true
#hibernate.session.factory.jndi.name=jboss:/hibernate/SessionFactory
#hibernate.jboss.service.name=HibernateFactory,name=HibernateFactory
