## Developer specific properties sample ##

#################################################################################
## The following property must be defined in build.properties with an           #
## appropriate value for the local environment                                  #
jboss.home=/opt/jboss-4.2.0.GA


#################################################################################
## These properties already have a default value defined in build.xml and only  #
## need to be defined in build.properties if their values are different in your #
## local setup                                                                  #
#genesis.home=../../genesis

